{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}
{% block content_title %}<h2 class="content-title">{% trans "Signin" %}</h2>{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend></legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
      <p class="checkbox">
        <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
      </p>
    {% elif field.name == 'identification' %}
      <p>
        <label for="id_identification">KDE Identity Username</label>
        <input class="required" id="id_identification" maxlength="75" name="identification" type="text" />
      </p>
    {% elif field.name == 'password' %}
      <p>
        <label for="id_password">Password</label>
        <input class="required" id="id_password" name="password" type="password" />
      </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans "Signin" %}" />
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock %}
