{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block content_title %}<h2 class="content-title">{% trans "Get Involved" %}</h2>{% endblock %}

{% block content %}

<p>Thank you for your interest in volunteering during Akademy.</p>
<br />
<p>In order to log in, please register for a <a href="http://identity.kde.org/" target="_blank">KDE Identity</a> Account. This account will give you a single set of credentials that you can use throughout all of KDEs online systems.</p>

{% endblock %}
