{% extends "base.html" %}
{% load url from future %}

{% block content_title %}<h2 class="content-title">Frequently asked questions</h2>{% endblock %}

{% block content %}

<div class="faq">

<h3>What is a volunteer?</h3>
<p>A volunteer is someone who will help out during the event, by performing the assigned tasks and lending a hand here and there.</p>

<h3>Medical emergency</h3>
<p>Contact Red cross. They have walkie talkies. Infodesks and staff members have walkie talkies as well.</p>

<h3>Where do I go when I arrive?</h3>
<p>Please come to the K infodesk. <a href="https://fosdem.org/2017/practical/transportation/">The FOSDEM website</a> explains how to get there.</p>

<p>If you arrive on Friday noon for the buildup, nothing will be there yet. Don't worry. You will be part of the team that sets it up!</p>

<h3>There has been a spill. How do I contact the cleaning volunteers?</h3>
<p>Please call them through the walkie talkie network.</p>

<h3>We need a volunteer here.</h3>
<p>See Communication below and pick one depending on how urgent the need is.</p>

<h3>We ran out of...</h3>
<p>Urgent? Call the Infodesk, or walk over there. You can find the phone number on the info sheet you received.</p>
<p>Otherwise use the communication methods described below.</p>

<h3>I'm scheduled as a video volunteer. Where do I find more information?</h3>
<p>Please contact Mark ( mvandenborre@fosdem.org or +32 486 961726 [only during the event - use email otherwise!] ) for more information.</p>

<h3>Can FOSDEM arrange my visa?</h3>
<p>Unfortunately this is not possible.</p>

<h3>Why should I volunteer?</h3>
<p>
    <ul class="faq">
        <li>Excellent/priority spots (both for video as well as for heralding)</li>
        <li>Feel warm &amp; fuzzy (especially useful during this particularly cold time of the year)</li>
        <li>You get a very cool volunteer t-shirt</li>
        <li>It is fun to do</li>
        <li>Some free food is included. Depending on where and when you help out, this can be lunch or even dinner (after the build-up or tear-down have finished)</li>
        <li>Connect with other bright people who decided to volunteer</li>
        <li>Help the inspiring FLOSS ecosystem by taking care of the developers and users of some of the world's most useful software projects</li>
    </ul>
</p>

<h3>How do I sign up to be a volunteer?</h3>
<p>You can register yourself with our volunteer tool ( <a href="https://volunteers.fosdem.org/">https://volunteers.fosdem.org/</a> ) and see (and select) available tasks. Alternatively you can visit our main InfoDesk in K on the day itself, but you'll still need to have an account in the volunteer tool. If you can, please register online in advance and select tasks in the tool. This helps greatly with planning and managing the conference. However, please note that if you do select tasks on the tool, you are committing to being there and doing those tasks. You can change your selected tasks any time, but you will make it much easier to plan the event if you make your final changes by the Thursday before FOSDEM. If you can't make it to a particular task, please communicate it clearly and in time. Your help is greatly appreciated!</p>

<h3>What kind of volunteer tasks can I expect?</h3>
<p>
    <ul class="faq">
        <li>Heralding - Introducing world famous speakers, and possibly help some of your heroes give their talks. Ensure safety by not letting too many people into certain rooms and of course making sure the speakers adhere to the schedule.</li>
        <li>Video - Capturing and recording video. Ensure the livestreams to thousands are up and running and all talks are recorded.</li>
        <li>Signage - Signs to show the way to conference rooms, coffee and beer places and more.</li>
        <li>Infodesk - Answer questions of mostly attendees, give directions and help process donations. There will be people to help *you* at the Infodesks as well.</li>
        <li>Cloakroom - Ensure attendees can put (and get) their jacket and bags.</li>
        <li>Build-up and tear-down - It takes a lot of work to set up (and tear-down) such an enormous conference spanning several buildings.</li>
        <li>Various - Whatever comes along and hasn't been covered yet.</li>
    </ul>
</p>

<h3>Communication</h3>
<p>
    <ul class="faq">
        <li>Until the Friday before FOSDEM and starting the Monday after FOSDEM, <a href="https://lists.fosdem.org/listinfo/volunteers">the volunteers mailinglist</a> will be primarily used.</li>
        <li>Shortly before, during and after FOSDEM the IRC channel (#fosdem-volunteers on Libera.Chat) will be primarily used. This can be accessed via your favorite IRC client or <a href="https://web.libera.chat/#fosdem-volunteers">via webchat</a>.</li>
        <li>Need direct contact with the volunteers admins? Send an e-mail to <a href="mailto:volunteer-admin@lists.fosdem.org">volunteer-admin@lists.fosdem.org</a></li>
        <li>Urgent? Contact the volunteer admin(s) via +32 27 88 74 72. English should be used by default on the phone.</li>
        <li>Very urgent? Directly contact staff members, they have walkie-talkies.</li>
    </ul>
</p>

<h3>I am underage, but I want to help out. Is that possible?</h3>
<p>The minimum age to apply for helping out as a volunteer is 16. In any case, everybody who is a volunteer will be treated as an equal regardless of their age.</p>

<h3>Is there any compensation for volunteers?</h3>
<p>Some food and drink will be provided during the event.</p>
<p>No other compensation is available. This holds true for all volunteers, including staff. Staff is just the group of year-round volunteers.</p>

<h3>Is there any travel or accomodation support for volunteers?</h3>
<p>No, unfortunately there isn't.</p>

<h3>T-shirts</h3>
<p>When wearing the volunteer t-shirt, you are seen as an active volunteer, who is available for tasks. If you want to have some time off, please remove the t-shirt during that time.</p>
<p>Please get a new t-shirt each day at the InfoDesk because "A t-shirt a day, keeps the smell away"</p>

<h3>Can I become a staff member?</h3>
<p>Becoming a staff member requires a minimum of having been a volunteer for at least one year</p>
<p>After this, you could be asked by a staff member to join the staff at some point.</p>

<h3>Other questions?</h3>
<p>Use <a href="https://lists.fosdem.org/listinfo/volunteers">the volunteers mailinglist</a> and e-mail your question!</p>

</div>

{% endblock %}
